/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require oxymoron/ng-notify
 *= require ammap.css
 */

@font-face 
  font-family: 'open-sans'
  src: url('OpenSans-Regular.ttf')

@font-face 
  font-family: 'impact'
  src: url('Impact.ttf')

@font-face 
  font-family: 'romantique'
  src: url('Romantique.ttf')

@font-face 
  font-family: 'third-rail'
  src: url('Third-Rail.ttf')

body
  overflow-x: hidden
  font-family: 'open-sans'

a
  text-decoration: none !important 
  &:hover
    background-color: transparent
.navbar
  width: 100%
  height: 50px
  position: absolute
  z-index: 10
  top: 25px
  background-image: url("navbar_line.png")
  background-repeat: no-repeat
  background-size: 100%
  .logo
    margin-top: -15px
    height: 80px
    width: 80px
    position: absolute
    float: center
    left: 47%    
    border-radius: 50%
    img
      width: 100%
      height: 100%
      border-radius: 50%

.global
  width: 100%
  height: 450px
  overflow-y: auto