/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require oxymoron/ng-notify
 *= require ammap.css
 */

$desctop: 1300px
@mixin desctop
  @media (min-width: $desctop)
    @content

@mixin smobile
  @media (max-width: 320px)
    @content

@mixin mobile
  @media (min-width: 321px) and (max-width: 567px)
    @content

@font-face 
  font-family: 'open-sans'
  src: url('OpenSans-Regular.ttf')

@font-face 
  font-family: 'impact'
  src: url('Impact.ttf')

@font-face 
  font-family: 'city-flowers'
  src: url('CityFlowers.ttf')

@font-face 
  font-family: 'third-rail'
  src: url('Third-Rail.ttf')

@font-face 
  font-family: 'dorothea'
  src: url('Dorothea Deco.ttf')

body
  overflow-x: hidden
  font-family: 'open-sans'

a
  text-decoration: none !important 
  &:hover
    background-color: transparent
    
.navbar
  width: 100%
  height: 50px
  position: absolute
  z-index: 10
  top: 25px
  background-image: url("navbar_line.png")
  background-repeat: no-repeat
  background-size: 100%
  @include mobile
    height: 60px
    background-size: cover
    background-position: center
  .price-list, .contacts
    color: white
    font-family: 'open-sans'
    font-size: 20px
    margin-top: 10px
    user-select: none
    -moz-user-select: none
    -webkit-user-select: none
    transition: 0.2s
    &:hover
      transform: scale(1.05, 1.05)
  .price-list
    float: left
    margin-left: 50px
    @include mobile
      margin-left: 25px
  .contacts
    float: right
    margin-right: 50px
    @include mobile
      margin-right: 25px
  .logo
    top: -15px
    height: 80px
    width: 80px
    position: absolute
    float: center
    left: 0
    right: 0
    margin: 0px auto  
    border-radius: 50%
    @include mobile
      left: 0
      right: 0
      margin: 0px auto
    img
      width: 100%
      height: 100%
      border-radius: 50%

// .global
//   width: 100%
//   height: 450px
//   overflow-y: auto